rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn(){ return request.auth != null; }
    function isAdmin(){ return signedIn() && request.auth.token.email == "admin@itrna.com"; }
    match /challenges/{id} {
      allow read: if signedIn();
      allow create, update, delete: if isAdmin();
    }
    match /attempts/{id} {
      allow create: if signedIn() && request.resource.data.uid == request.auth.uid;
      allow read: if signedIn() && (resource.data.uid == request.auth.uid || isAdmin());
      allow update, delete: if isAdmin();
    }
    match /{document=**} { allow read, write: if false; }
  }
}
